body {
}

.TxtBx{
    display: inline-block;
    margin: auto;
}

.BtnInscr{
    display: block;
    margin: auto;
}
#div_content{
    display: grid;
    text-align-last: center;
}

.Lbl {
    font-family: Sniglet;
    color: #ea7068;
}
